@import "tailwindcss";

@font-face {
    font-family: "IBM VGA";
    src: url("./assets/fonts/ibm_vga8.woff2") format("woff2");
}

@theme {
    --font-vga: "IBM VGA", monospace;
}

body {
    font-family: var(--font-vga);
    padding: 5px;
    background-color: #0a0e16;
}